* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:visited {
    color: inherit;
}

a {
    font-weight: bold;
}

main {
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
}

h5, h6 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

td, th {
    text-align: center;
    vertical-align: middle!important;
}

.progress-badge {
    cursor: default;
}
