* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:visited {
    color: inherit;
}

a {
    font-weight: bold;
}

body {
    background-color: rgba(247, 247, 247, 0.2);
}

h1, h4, h6 {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.bdc-table {
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
}

.navigation {
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

td, th {
    text-align: center;
    vertical-align: middle!important;
}
